/* for mobile */
.container {
  width: 80%;
  margin: 0 auto;
  font-size: 0.6rem;

  margin-bottom: 6%;
}

@media only screen and (min-width: 600px) {
  .mainDiv {
    margin-left: 8%;
    margin-right: 8%;
    /* margin: 1px solid pink; */
  }

  .container {
    /* margin-left: 25%;
    margin-right: 25%; */
    /* 
    margin-left: 24%;
    margin-right: 24%; */
    width: 53%;

    font-size: 1rem;
  }
}
