.nav {
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 0.5%; */
}
.nav-li {
  float: right;
}

.nav-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #606060;
}

.nav-link:hover {
  color: pink;
  font-size: 1.3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
