/* For mobile phones: */

.projects-port-img {
  max-width: 90%;
  object-fit: contain;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 3%;
  border-bottom: 1px solid lightgray;
}

.description {
  color: #282828;
  font-size: 0.85rem;
}

.projects-h4 {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border-top: 1px dotted lightgrey;
  font-size: 0.95rem;
  color: #585858;
}

@media only screen and (min-width: 768px) {
  .portfolio {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 80%;
    flex-flow: row wrap;
    padding: 5%;
    margin-left: 13%;
    margin-top: 0;
    padding-top: 0%;
  }

  .child {
    padding-left: 20px;
    width: 33.33%;
    order: 1;
  }

  .projects-h4 {
    color: #606060;
  }
}
