.skillsContainer {
  display: flex;
  font-size: 0.6rem;
}

.skill {
  margin: 0 auto;
}

.skills {
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .skillsContainer {
    font-size: 1rem;
  }

  .skills {
    margin-left: 23%;
    margin-right: 23%;
  }
}
